.reportPostModalContainer {
  background-color: rgba(211, 211, 211, 0.096) !important;
}

.reportPostModalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 25px;
  color: #283895;
}

.reportPostModalBody {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 1.25rem;
}

.blockuserModalBody {
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 17px;
}

.reportItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  font-size: 1.25rem;
}

.footerBtn {
  font-size: 1.25rem;
}

.footerBtn {
  background-color: #47d7ac;
  border-color: #47d7ac;
  padding: 5px 10px;
  font-size: 16px;
}
.footerBtn:hover,
.footerBtn:active,
.footerBtn:focus-visible {
  background-color: #ffffff !important;
  color: #47d7ac !important;
  border-color: #47d7ac !important;
}
.footerBtnCancel {
  font-size: 16px;
  color: #f58c60;
}
.footerBtnCancel:hover,
.footerBtnCancel:active,
.footerBtnCancel:focus-visible {
  color: #f58c60 !important;
}

.overlayItem {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.reportContainerBtn {
  font-size: 12px;
  line-height: 16px;
  color: #a5a9ae;
}

.copyLinkBtnStyle {
  width: 20px;
  display: flex;
  justify-content: center;
}

.dropdownBtn {
  background-color: transparent !important;
  border: none;
  width: auto;
  padding: 0;
}

.dropdownBtn::after {
  display: none;
}

.dropdownMenu {
  padding: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.dropdownItem {
  padding: 10px;
  position: relative;
}

.dropdownItem:after {
  content: '';
  display: inline-block;
  width: 85%;
  height: 1px;
  border-bottom: 1px solid #dfdfdf;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.dropdownImage {
  width: 16px;
  height: 16px;
}

.mainContainer {
  background: #f9f9f9;
  padding: 20px;
  /* box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25); */
}

.addPostWidgetContainer {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  padding: 16px;
  border-radius: 6px;
  margin-bottom: 20px;
}

.addPostFieldContainer {
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.addPostImage {
  min-width: 27px;
  border-radius: 50%;
}
.addPostImage img {
  border-radius: 50%;
  cursor: pointer;
}

.addPostField {
  display: flex;
  align-items: start;
  gap: 10px;
}

.addPostButton {
  background-color: #f9f9f9;
  flex: 1 1;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
}

.addPostHeading {
  display: flex;
  font-size: 13px;
  color: #a5a9ae;
}

.AddPostItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}

.errorContainer {
  height: 30px;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}

.addPostFileButtons {
  background-color: transparent;
  border: none;
  padding-top: 5px;
}

.publishButton {
  background-color: white;
  color: #a5a9ae;
  padding: 2px 25px;
  font-size: 12px;
}

.closeButton {
  height: 35px;
}

.postFooterContainer {
  display: flex;
  gap: 40px;
  margin: 0 15px 15px 15px;
}

.likeContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.likeButton {
  border: none;
  background-color: white;
  margin-bottom: 0px;
  padding: 0;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: self-end;
}

.likePost {
  color: #a5a9ae;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-left: 5px;
}

.likeCount {
  display: flex;
  border-radius: 10px;
  justify-content: center;
  background-color: #f7f7f6;
  color: #2e86f9;
  font-size: 12px;
  line-height: normal;
  padding: 0px 5px;
}

.commentPost {
  color: #a5a9ae;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-left: 5px;
}

.sharePost {
  color: #a5a9ae;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  padding-left: 2px;
}

.commentButton {
  border: none;
  background-color: white;
  margin-bottom: 0px;
  padding: 0;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 3px;
}

.commentCount {
  color: #3d3d3f;
  display: flex;
  border-radius: 10px;
  justify-content: center;
  background-color: #f7f7f6;
  font-size: 12px;
  line-height: normal;
  padding: 0px 5px;
}

.shareButton {
  border: none;
  background-color: white;
  margin-bottom: 0px;
  padding: 0;
  height: 18px;
  display: flex;
  gap: 5px;
}

.commentContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.shareContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .mainContainer {
    margin-top: 5px;
    padding: 16px 0;
  }
}

.AddEventModalHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 5px; */
  font-size: 1.5rem;
  color: #283895;
}
/* 
.AddEventModalContent {

  display: grid;
  place-items: center;
}

.AddEventModalBody {
  width: 920px;
}  */
.eventPostContainer {
  height: 600px;
  /* width:100%;  */
  overflow-y: auto;
}
.eventPostContainer::-webkit-scrollbar {
  width: 5px;
}

.eventPostContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #efefef;
}

.eventPostContainer::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 4px;
}

.AddEventModalProfile {
  display: flex;
  margin-bottom: 12px;
}

.AddEventModalProfilePic {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 16px;
}

.AddEventModalProfilePic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AddEventModalEventName::placeholder {
  /* color: black; */
  font-size: 1rem;
  color: 'black';
  font-weight: 800px;
}

.DateInput::before {
  content: 'Start Date: ';
  font-size: 12px;
  /* color: black; */
}

.TimeInput::before {
  content: 'Start Time: ';
  font-size: 12px;
  /* color: black; */
}

.eventTypeDropdownToggle {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 54px;
  background-color: white;
  color: #a5a9ae;
  font-weight: 400;
}

.eventTypeDropdownToggle:hover {
  background-color: #47d7ac;
}

.eventTypeDropdownToggle:active {
  background-color: #47d7ac !important;
}

.eventTypeDropdownToggle:focus-visible {
  background-color: #47d7ac;
}

.eventModalCancel {
  border: none;
  background-color: white;
  color: #f58c60;
}

.eventModalCancel:hover {
  background-color: #f58c60;
  color: white;
}

.eventModalAddToPost {
  border: none;
  background-color: #47d7ac;
  color: white;
}

.eventModalAddToPost:hover {
  background-color: #349175;
  color: white;
}

.eventModalDropdownItem:active {
  background-color: #47d7ac;
}

/* .AddEventModalEventDescription {} */

.AddEventModalEventDates div {
  width: 100%;
}
.addPostHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addPostHead > span:first-of-type {
  width: 5%;
}
.addPostHead > span:nth-child(2) {
  width: 80%;
}
.addPostHead > span:last-of-type {
  width: 10%;
}
.addPostFooter > span {
  width: 10%;
  margin-right: 3%;
}
.addPostFooter {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 640px) {
  .dropdownBtn {
    width: 20px !important;
  }

  .dropdownMenu {
    inset: 0 0 auto auto !important;
  }

  .reportPostModalContent {
    margin-left: 2.5rem;
    width: 18.75rem;
    height: 37.5rem;
    overflow-y: auto;
  }

  .reportPostModalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1875rem;
    font-size: 1.0625rem;
  }

  .reportPostModalBody {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 0.1875rem;
    font-size: 0.625rem;
  }

  .reportItem {
    display: flex;
    justify-content: space-between;
    padding: 0.3125rem;
    margin: 0.3125rem;
    font-size: 0.625rem;
  }

  .footerBtn {
    font-size: 0.625rem;
  }

  .dropdownImage {
    width: 15px;
    height: 15px;
  }

  .postFooterContainer {
    gap: 5px;
    justify-content: space-between;
  }
}
