.mainwrapper {
  width: 91%;
  /* display: flex; */
  /* justify-content: space-around; */
}
.filterConatiner {
  margin-top: 30px;
}
.wrapper {
  display: flex;
  /* position: absolute; */
  overflow-x: auto;

  overflow-y: auto;
  background-color: whitesmoke;

  width: 100%;
  height: 22rem;
  border-radius: 8px;
  margin: 30px;
}
.leftSection {
  display: flex;
  /* position: relative; */
  /* width: 20rem; */
  width: 40%;
}

.leftSection img {
  border-bottom-left-radius: 14px;
  border-top-left-radius: 14px;
}
.rightSection {
  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
  margin-left: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  position: relative;
  width: 60%
}
.title {
  display: flex;
  flex-direction: row;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  /* height: 13%; */
  margin-bottom: 3%;
  /* background-color: #0048f0; */
}
.cardDescription {
  display: flex;
  /* width: 100%; */
  /* height: 35%; */
  margin-bottom: 3%;
  font-size: 14px;
  /* background-color: blueviolet; */
}
.cardDescription a {
  color: #0048f0;
  text-decoration: none;
  font-weight: bold;
}

.cardTags {
  display: flex;
  /* width: 100%; */
  height: 40px;
  margin-bottom: 3%;
  /* background-color: rgb(229, 17, 17); */
  align-items: center;
}
.cardTag {
  display: flex;
  justify-content: center;
  background-color: #dde4f6;
  border-radius: 20px;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 6px;
  margin-right: 3px;
  /* height: 40px; */
  font-size: small;
  /* color:#0048f0; */
  font-weight: 600;
}
.cardTag a {
  color: #0048f0;
  text-decoration: none;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  /* width: 208px; */
  height: 6rem;
  margin-bottom: 4px;
  /* background-color: rgb(95, 229, 17); */
}
.infoWrapperTag {
  display: flex;
  flex-direction: row;
}
.infoWrapperTagData {
  margin-left: 8px;
  font-size: small;
  font-weight: bold;
  text-align: center;
  margin-top: 2px;
}

.buttons {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 20px;
  /* background-color: rgb(197, 17, 229); */
}
.button {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 9999px;
  justify-content: center;
  align-items: center;
  padding: 5px;
  margin-left: 4px;
}

.button img[title] {
  color: blue;
}
.sharePopups {
  display: flex;
  background-color: #f7ffff;
  border-radius: 8px;
  height: 141px;
  width: 169px;
  position: absolute;
  top: 8rem;
  left: 11rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sharePopup {
  display: flex;
  flex-direction: row;
  /* background-color: bisque; */
  width: 150px;
  align-items: center;
  padding: 4px;
  margin-left: 4px;
}
.sharePopup:hover {
  background-color: rgb(237 239 245);
  border-radius: 4px;
}
.sharePopup a {
  text-decoration: none;
  color: black;
  margin-left: 6px;
}

.targetIcon::after {
  visibility: hidden;
}
.emptyBox {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  height: 20rem;
  width: 100%;
}
@media screen and (max-width: 600px) {
  /* .mainwrapper{
    width: 50%;
  } */
  .mainwrapper {
    box-sizing: inherit !important;
  }
  .wrapper {
    width: 400px;
    margin: 0;
    margin-bottom: 10px;
  }
  .rightSection {
    width: 250px;
  }
  .leftSection {
    width: 352px;
  }
  .buttons {
    margin-left: 0;
  }
  .title {
    height: 100%;
  }
  .emptyBox {
    height: 50px;
  }
  .emptyBox h2 {
    margin-left: 40px;
    font-size: 18px;
  }
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .emptyBox {
    height: 50px;
    margin-top: 5%;
  }
  .emptyBox h2 {
    margin-left: 40px;
    font-size: 25px;
  }
}
