.blockedUsercontainer {
  margin-top: 20px;
  display: flex;
  background-color: white;
  /* font-family: 'Equip'; */
  justify-content: flex-start;
}

.left_column {
  flex: 0 0 20%;
  background-color: white;
  /* margin-left: 20px;   */
}

.right_column {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-left: 25px;
  /* height: 87vh; */
  justify-content: flex-start;
  flex: 0 0 63%;
  border-left: 1px solid white;
  box-shadow: 8px 1px 8px rgb(0, 0, 0, 0.05);
}

.blockedUsersSideNav {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* gap: 1.25rem; */
  padding-top: 50px;
  /* padding: 0.3125rem 0.625rem; */
  height: 100%;
  /* position: fixed; */
  z-index: 1;
  /* top: 7%; */
  /* left: 10px; */
  background-color: white;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  margin-left: 16px;
  /* border-radius: 10px; */
  /* border: 2px solid lightgray; */
  /* margin-top: 20px; */
  /*   
  border-right: 1px solid #F3F3F3;
box-shadow: 8px 1px 10px rgba(0, 0, 0, 0.05); */
}

.blockedUserRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 5px 5px;
  border-radius: 10px;
}
.blockedUserRow:hover {
  background-color: whitesmoke;
}
.moreOptionList {
  position: absolute;
  background: #ffffff;
  border-radius: 6px;
  padding: 5px;
  /* left: 260px; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-top: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.moreOptionList > button {
  display: flex;
  gap: 10px;
  background-color: white;
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: 300;
  color: black;
  padding: 4px;
  /* margin-top: 10px; */
  /* margin-bottom: 5px; */
  /* border-radius: 10px; */
  /* background: rgb(233, 243, 243); */
  /* box-shadow: 5px 5px 2px rgb(156, 179, 179); */
  /* font-size: small; */
}
.moreOptionButton:hover {
  background: whitesmoke;
}
.groupListMoreLogo {
  cursor: pointer;
}

.blockedUserImage {
  width: 60px;
  height: 60px;
  border: none;
}

.blockedUserDropdownBtn {
  background-color: white !important;
  color: black !important;
  border: none;
  width: 50px;
  padding: 20px;
}

.blockedUserDropdownBtn:checked,
.blockedUserDropdownBtn:active,
.blockedUserDropdownBtn:hover {
  background-color: white !important;
  border: none;
}

.blockedUserDropdownBtn::after {
  display: none;
}

.postMoreOptionsImage {
  width: 10px;
  background-color: white;
}

.blockedUserwrapper {
  margin: 5px;
}
.sideNavHeader {
  display: flex;
  /* font-family: 'Equip-regular'; */
  /* justify-content: center; */
  font-size: 26px;
  font-weight: 500;
  color: #283895;
  margin-left: 16px;
}
.sideNavHeaderForProfile {
  display: flex;
  /* font-family: 'Equip-regular'; */
  /* justify-content: center; */
  font-size: 18px;
  font-weight: 500;
  color: #283895;
  margin-left: 1px;
}

.overlayItem {
  display: flex;
  justify-content: flex-start;
  margin-right: 5px;
}

.blockedUsersDropdownMenuItem:hover .dropdownImage {
  filter: invert(1);
}

.blockedUsersDropdownMenuItem {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 8px;
}

.dropdownImage {
  margin-top: 10px;
  width: 20px;
  height: 10px;
}

.reportContainerBtn {
  background-color: white;
  color: black;
  border: none;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 20px;
}

.blockedUsersDropdownMenuItem:hover .reportContainerBtn {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}

.blockedUsersDropdownMenuItem:visited,
.blockedUsersDropdownMenuItem:hover,
.blockedUsersDropdownMenuItem:active {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}

.blockedUsersDropdownMenu {
  width: 180px !important;
  margin-right: 20px;
  position: fixed !important;
  top: 3px !important;
  right: 530px !important;
}

.rightContainer {
  border: none;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 30px;
  width: 75vw;
  height: 92vh;
  /* border-radius: 10px; */
  /* border: 2px solid lightgray; */
}

.rightContainerForProfilePage {
  border: none;
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 30px;
  width: 64vw;
  height: 75vh;
}

.blockedUserPreviewImage {
  display: flex;
  justify-content: center;
}
.blockedUserPreviewImage {
  /* font-family: 'Equip'; */
  font-size: 24px;
  font-weight: 700;
  color: #091329;
}
.noBlockedUsers {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
}

.alignItemsCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: 500;
  color: #283895;
  height: 80%;
}

.blockedUserModalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 24px;
  margin-left: 145px;
  color: #283895;
}

.blockedUserModalBody {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 1.25rem;
}

.footerBtn {
  font-size: 1.25rem;
}

.backBtn {
  margin-top: 10px;
  margin-left: 10px;
}

.blockedUserProfileImage {
  width: 450px;
  height: 450px;
  border-radius: 20px;
}

.blockedUserDetailItem {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  width: 100%;
  margin-top: 40px;
}

.DetailsContainer {
  display: flex;
  margin-left: 50px;
  margin-top: 100px;
  justify-content: flex-start;
}

.detailsLeftContainer {
  flex: 0 0 5%;
  margin-top: 25px;
}

.detailsRightContainer {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
  height: 30vh;
  justify-content: flex-start;
  align-items: flex-end;
  flex: 0 0 63%;
}

.rightContainerItem {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 24px;
}

.editProfileBtn {
  margin-bottom: 40px;
  margin-right: 5px;
}

.rowItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.emptyProfileWrapper {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;
}

.blockedUserName {
  /* margin-left: 20px;
  margin-top: 15px; */
  padding: 20px;
  font-size: 14px;
  font-weight: 500;
}

.moreOptions {
  border: none;
  background-color: white;
  padding: 0;
  width: 30px;
}

.leftContainer {
  display: flex;
}

.buttonRow {
  width: 90%;
  background-color: white;
  border: none;
  color: black;
}

.buttonRow:visited,
.buttonRow:hover,
.buttonRow:active {
  color: black !important;
  background-color: transparent !important;
}

.buttonRow:hover .blockedUsersDropdownMenu {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}

.unblockFooter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  margin-top: 30px;
}

.unblockBtn {
  width: 15%;
  margin-left: 10px;
  margin-top: 10px;
}

.unblockedConditions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

@media only screen and (max-width: 640px) {
  .blockedUserModalContent {
    margin-left: 2.5rem;
    width: 18.75rem;
    height: 37.5rem;
    overflow-y: auto;
  }

  .blockedUserModalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1875rem;
    font-size: 1.0625rem;
  }

  .blockedUserModalBody {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 0.1875rem;
    font-size: 0.625rem;
  }

  .footerBtn {
    font-size: 0.625rem;
  }
}

.headerWrapper {
  width: 99%;
  height: 40vh;
  margin: 10px;
  padding: 10px;
  background-color: rgb(242, 240, 240);
  background: url('../assets/images/CoverProfile.png') no-repeat;
  background-size: cover;
}

.content {
  display: flex;
  justify-content: space-between;
  height: 48vh;
  align-items: flex-end;
}

.profileImage {
  border: 2px solid black;
  display: flex;
  border-radius: 50px;
}

.leftSection {
  width: 13%;
  display: flex;
  justify-content: space-between;
}

.profileInfoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  width: 90%;
  height: 20%;
}

.name {
  font-size: 18px;
  margin-left: 10px;
  margin-top: 10px;
  color: black;
  text-shadow: 1px 1px gray;
}

.userName {
  font-weight: bold;
  color: #283895;
  text-shadow: 1px 1px gray;
}

.userEmail {
  display: flex;
}
.unblockUserName {
  font-size: 14px;
  font-weight: 400;
}
.unblockUserContition {
  font-size: 14px;
  font-weight: 500;
}
.unblockCancelBtn {
  font-size: 15px;
  border: none;
  color: #f58c60;
  background-color: white;
}
.unBlockConfirm {
  border: none;
  width: 20%;
  height: 25px;
  background-color: #42d0a5f3;
  color: white;
  font-weight: 400;
  font-size: 15px;
  border-radius: 4px;
}
