.reportPostModalContainer {
  background-color: rgba(211, 211, 211, 0.096) !important;
}

.reportPostModalHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 1.875rem;
}

.reportPostModalBody {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 1.25rem;
}

.reportItem {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px;
  font-size: 1.25rem;
}

.footerBtn {
  font-size: 1.25rem;
}

.overlayItem {
  display: flex;
  justify-content: flex-start;
  margin-right: 5px;
}

.reportContainerBtn {
  background-color: white;
  color: black;
  border: none;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 20px;
}

.copyLinkBtnStyle {
  width: 20px;
  display: flex;
  justify-content: center;
}

.dropdownBtn {
  background-color: white;
  border: none;
  width: 40px;
}

.dropdownItem {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 8px;
}

.dropdownItem:hover .reportContainerBtn {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}

.dropdownItem:visited,
.dropdownItem:hover,
.dropdownItem:active {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}

.dropdownItem:hover .dropdownImage {
  filter: invert(1);
}

.dropdownImage {
  margin-top: 10px;
  width: 20px;
  height: 10px;
}
.mainContainer {
  background: whitesmoke;
  padding: 10px;
}
.addPostFieldContainer {
  height: 100%;
  width: 100%;
  background-color: white;
}
.addPostImage {
  display: flex;
  margin-top: 6px;
  margin-left: 10px;
}
.addPostField {
  display: flex;
  align-items: center;
}
.addPostButton {
  background-color: #f9f9f9;
  width: 95%;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 17.5px;
}
.addPostHeading {
  display: flex;
  font-size: 13px;
  color: #a5a9ae;
}
.AddPostItems {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px;
}
.imageButton {
  background-color: rgb(234, 234, 234);
  width: 100%;
  border: none;
  height: 500px;
}
.errorContainer {
  height: 30px;
  display: flex;
  flex-direction: column;
}
.docButton {
  background-color: white;
  border: none;
  height: 30px;
  width: 30px;
}
.videoButton {
  background-color: white;
  border: none;
  height: 30px;
  width: 30px;
}
.eventButton {
  background-color: white;
  border: none;
  height: 30px;
  width: 30px;
}
.pollButton {
  background-color: white;
  border: none;
  height: 30px;
  width: 30px;
}
.publishButton {
  background-color: white;
  color: #a5a9ae;
  /* height: 35px; */
  padding: 2px 25px;
  /* gap: 10px; */
}
.addTextEditor {
  margin: 20px;
}
.closeButton {
  height: 35px;
}
.postFooterContainer {
  display: flex;
  gap: 50px;
}
.likeContainer {
  display: flex;
  gap: 10px;
}
.likeButton {
  border: none;
  background-color: white;
  margin-bottom: 2px;
}
.likePost {
  color: #2e86f9;
  font-weight: 400;
}
.likeCount {
  color: #2e86f9;
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  background-color: #f7f7f6;
}
.commentPost {
  color: #a5a9ae;
  font-weight: 400;
}

.sharePost {
  color: #a5a9ae;
  font-weight: 400;
}
.commentButton {
  border: none;
  background-color: white;
  margin-top: 5px;
}
.commentCount {
  color: #3d3d3f;
  display: flex;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  justify-content: center;
  background-color: #f7f7f6;
}
.shareButton {
  border: none;
  background-color: white;
}
.commentContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(84, 83, 83);
}
.imageCls {
  height: 150px;
  width: 150px;
}
.uploadCls {
  padding: 10px 40px;
  border: 3px solid rgb(110, 109, 109);
  border-radius: 1.6rem;
}

.loadingModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.shareContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(84, 83, 83);
}

.loadingModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingContent {
  display: flex;
  align-items: baseline;
}

.loadingText {
  color: #47d7ac;
  font-size: 36px;
  font-weight: 700;
  text-shadow: 0px 0px 4px #47d7ac;
}

.headlineText {
  height: 100px;
  width: 100%;
  font-size: 50px;
  font-weight: 600;
  border: none;
}
.headlineText:focus {
  border: 4px solid black;
  border-radius: 3px;
}
.headlineText::placeholder {
  font-size: 50px;
  font-weight: 600;
  opacity: 0.5 !important;
  color: rgb(7, 7, 7);
}
.container {
  margin: 0 275px;
}
.subContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(84, 83, 83);
}
.imageCls {
  height: 150px;
  width: 150px;
}
.uploadCls {
  padding: 10px 40px;
  border: 3px solid rgb(110, 109, 109);
  border-radius: 1.6rem;
}

.previewImageCls {
  width: 100%;
  height: 500px;
}

@media only screen and (max-width: 640px) {
  .container {
    margin: 20px;
  }

  .headlineText {
    font-size: 24px;
    height: auto;
    margin-bottom: 10px;
    outline: 0;
  }

  .headlineText::placeholder {
    font-size: 24px;
  }

  .imageButton {
    padding: 20px;
    height: auto;
  }

  .subContainer {
    font-size: 14px;
  }

  .dropdownBtn {
    background-color: white;
    border: none;
    width: 20px !important;
  }

  .reportPostModalContent {
    margin-left: 2.5rem;
    width: 18.75rem;
    height: 37.5rem;
    overflow-y: auto;
  }

  .dropdownItem {
    display: flex;
    justify-content: space-between;
    font-size: 0.625rem;
    border-radius: 0.1875rem;
    padding-top: 0.1875rem;
    padding-bottom: 0.3125rem;
  }

  .reportPostModalHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1875rem;
    font-size: 1.0625rem;
  }

  .reportPostModalBody {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 0.1875rem;
    font-size: 0.625rem;
  }

  .reportItem {
    display: flex;
    justify-content: space-between;
    padding: 0.3125rem;
    margin: 0.3125rem;
    font-size: 0.625rem;
  }

  .footerBtn {
    font-size: 0.625rem;
  }

  .dropdownImage {
    width: 15px;
    height: 15px;
  }
  .postFooterContainer {
    gap: 5px;
  }
}
