.membersGroupList {
  display: flex;
  margin-top: 10px;
  gap: 5px;
  align-items: center;
  flex-wrap: wrap;
}
.singleMember {
  background: whitesmoke;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  gap: 5px;
}
.memberCrossIcon {
  cursor: pointer;
  border-radius: 50%;
  background: whitesmoke;
}
/* .memberCrossIcon:hover {
  background: 
} */
.requiredField::after {
  content: '*';
  color: red;
}
.modalTitle {
  color: #283895;
  margin-left: 145px;
}
.addMemberButton {
  font-size: 16px;
  margin-top: 5px;
  color: #f58c60;
  border: none;
  background-color: white;
}
.closeButton {
  font-size: 15px;
  border: none;
  border-radius: 4px;
  color: #f58c60;
  background-color: white;
}
.closeButton:hover {
  background-color: #F58C60;
  color: white;
}
/* .closeButton:hover{
border: none;
background-color: white;
color:#f58c60 ;
} */
.saveButton {
  border: none;
  width: 12%;
  background-color: #42d0a5f3;
  color: white;
  font-weight: 400;
  font-size: 15px;
  border-radius: 4px;
}
.saveButton:hover {
  color: white;
  background-color:#349175;
}

.saveButton:disabled {
  background-color: #47d7ac;
}

