@font-face {
  font-family: 'Equip-Regular';
  src: url('../assets/fonts/EquipExtended-Regular.eot');
  src: url('../assets/fonts/EquipExtended-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/EquipExtended-Regular.woff2') format('woff2'),
    url('../assets/fonts/EquipExtended-Regular.woff') format('woff'),
    url('../assets/fonts/EquipExtended-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Equip-Medium';
  src: url('../assets/fonts/EquipExtended-Medium.eot');
  src: url('../assets/fonts/EquipExtended-Medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/EquipExtended-Medium.woff2') format('woff2'),
    url('../assets/fonts/EquipExtended-Medium.woff') format('woff'),
    url('../assets/fonts/EquipExtended-Medium.ttf') format('truetype');
}

.parentContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 0.625rem;
  padding-bottom: 15px;
  border-bottom: 1px solid #ced0d4;
}
.parentContainer:first-child {
  border-top: 1px solid #ced0d4;
  padding-top: 15px;
}
.imgAndContentContainer {
  width: 80%;
  display: flex;
  align-items: flex-start;
  /* background-color: pink; */
}

.content {
  display: flex;
  flex-direction: column;
}

.eventHeading {
  font-family: 'Equip-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #091329;
}

.eventTime {
  font-weight: 300;
  font-size: 14px;
  color: #82888f;
}
.eventDescription {
  font-family: 'Equip-Regular';
  font-weight: 300;
  font-size: 14px;
  color: #000000;
}
.statsConatiner {
  font-family: 'Equip-Regular';
  font-weight: 300;
  font-size: 14px;
  color: #82888f;
}
.imgAndContentContainer > img {
  width: 25%;
  height: 150px;
  margin-right: 50px;
}
.imgAndContentContainer > video {
  width: 25%;
  height: 6rem;
  background-position: center;
  background-size: cover;
}
.video {
  width: 25%;
  height: 25rem;
  background-position: center;
  background-size: cover;
  border-radius: 0.25rem;
  margin-right: 50px;
  box-shadow: none;
}

.timeContainer {
  display: flex;
  gap: 5px;
}
.document {
  margin-right: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3125rem;
}

.typeHeading {
  color: #47d7ac;
  font-weight: 600;
  font-size: 25px;
}

.link {
  text-decoration: none;
  color: rgb(102, 102, 102)

}

.link::after {
  display: none;
}
