.groupListContainer {
  background-color: #f9f9f9;
  position: sticky;
  top: 0;
}
.groupListTitle {
  font-size: 20px;

  color: #283895;
  /* text-shadow: 2px 2px 1px rgb(156, 179, 179); */
}
.groupListBox {
  background-color: white;
  /* height: 360px; */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  padding: 10px;
}
.groupListBoxData {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.groupListBoxData::-webkit-scrollbar {
  width: 5px;
}

.groupListBoxData::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #efefef;
}

.groupListBoxData::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 4px;
}
/* .groupListBoxContainer {

} */
.groupListDropdown {
  position: relative;
}
.groupListDropdown img {
  border-radius: 50%;
}
.groupListLogo {
  height: auto;

  max-width: 100%;
  border-radius: 50%;
}
.groupList {
  padding: 16px;
  padding-bottom: 16px;
  /* height: 425px; */
}

.groupListHeading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
}
.groupListHeading:hover {
  background: whitesmoke;
}
.groupListHeadingLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}
.groupListName {
  margin: 0px;
  font-size: 14px;
  font-weight: 400;
}
.moreOptionList {
  position: absolute;
  width: 170px;
  background: #ffffff;
  border-radius: 6px;
  padding: 5px;
  /* left: 260px; */
  right: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  margin-top: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.moreOptionList > button {
  background-color: white;
  cursor: pointer;
  border: none;
  font-size: 12px;
  font-weight: 300;
  line-height: 18px;
  color: #a5a9ae;
  margin-bottom: 5px;
  /* padding: 4px; */
  /* margin-top: 10px; */
  /* border-radius: 10px; */
  /* background: rgb(233, 243, 243); */
  /* box-shadow: 5px 5px 2px rgb(156, 179, 179); */
  /* font-size: small; */
}
.groupListTitleLoader {
  margin-bottom: 16px;
}
.groupListBoxDataLoader {
  overflow-x: hidden;
}
.cardloaderDetails {
  display: flex;
  width: 100%;
}

.cardloaderDetails > span {
  width: 100%;
}
.moreOptionButton:hover {
  background: whitesmoke;
}
.groupListMoreLogo {
  cursor: pointer;
}
.createGroupHeading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}
.imgGrouplist {
  margin-right: 6px;
  margin-left: -42px;
}
.imgJoinGroup {
  margin-right: 5px;
  margin-left: -6px;
}
.createGroupHeading > button {
  border-radius: 5px;

  /* box-shadow: 5px 5px 2px rgb(156, 179, 179); */
}
.createGroupBtn {
  background-color: #47d7ac;
  border-color: #47d7ac;
  color: white;
  border: none;
  font-weight: bold;
  padding: 5px 10px;
  width: 100%;
}

.dropdownBtn {
  background-color: transparent !important;
  border: none;
  width: auto;
  padding: 0;
}

.dropdownBtn::after {
  display: none;
}

.dropdownMenu {
  inset: 0px 0px auto auto !important;
  padding: 0;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.dropdownItem {
  padding: 10px;
  font-size: 12px;
  position: relative;
}

.overlayItem {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.dropdownImage {
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 768px) {
  .groupList {
    margin-top: 5px;
    padding: 16px 0;
  }
}
