@font-face {
  font-family: 'Equip-Regular';
  src: url('../assets/fonts/EquipExtended-Regular.eot');
  src: url('../assets/fonts/EquipExtended-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/EquipExtended-Regular.woff2') format('woff2'),
    url('../assets/fonts/EquipExtended-Regular.woff') format('woff'),
    url('../assets/fonts/EquipExtended-Regular.ttf') format('truetype');
}

.wrapper {
  position: sticky;
  top: 70px;
  margin-top: 20px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  overflow: hidden;
  padding: 10px 16px;
}

.wrapper::-webkit-scrollbar {
  width: 5px;
}

.wrapper::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #efefef;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 4px;
}

.flexx {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
.item .img {
  cursor: pointer;
}

.itemHalfPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 3px;
  width: 95%;
  background-color: whitesmoke;
}

.button {
  margin-left: auto;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 18px;
}

.header a {
  text-decoration: none;
  font-weight: bold;
}

.heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #283895;
}

.link {
  font-weight: 400;
  color: #47d7ac;
  cursor: pointer;
}

.listContainer {
  margin-left: 15px;
}

.img {
  border-radius: 60%;
  width: 36px;
  height: 36px;
}

.imgProfile {
  border-radius: 6px 6px 0px 0px;
  width: 100%;
  cursor: pointer;
}

.name {
  font-size: 14px;
  line-height: 18px;
  margin-left: 14px;
  color: #091329;
}

.details {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.detailsContainer {
  margin-left: 10px;
}

.speciality {
  padding-right: 5px;
}

.firstRow {
  display: flex;
}

.backbtn {
  margin-top: 10px;
  margin-left: 20px;
  width: 50px;
}

/* NEW CSS*/

.mainContainer {
  /* overflow-y:auto; */
  display: 'flex';
  flex-direction: 'column';
}

.container {
  margin-top: 20px;
  display: flex;
  height: 80vh;
  /* font-family: 'sans-serif'; */
  justify-content: flex-start;
}

.left_column {
  flex: 0 0 15%;
  /* background-color: whitesmoke; */
  margin-left: 10px;
}

.right_column {
  flex: 0 0 80%;
  /* background-color: lightgray; */
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-left: 16px;
  height: 80vh;
  justify-content: flex-start;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.newgrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.seeMoreBtn {
  margin-bottom: 1px;
  padding: 10px;
  font-family: 'Equip-Regular';
  font-size: 18px;
  /* text-shadow: #3D3D3F; */
}

.mainListPageWrapper {
  display: flex;
  flex-direction: column;
}

.dashboardWrapper {
  width: 65vw;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.right_lower_section {
  width: 70vw;
  flex: 0 0 85%;
}

.sidenavbar {
  flex: 1;
  /* border-radius: 10px; */
  /* border: 2px solid #c9c6c6; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 80vh;
  background-color: #f9f9f9;
  margin-top: -1px;
  padding: 8px;
}

.row {
  display: flex;
  flex-direction: row;
}

.title {
  font-size: 3em;
}

.userList {
  display: flex;
  flex: auto;
  flex: 0 0 50%;
  justify-content: flex-end;
  align-content: center;
  height: 100%;
}

.cardItem {
  /* width: 17rem; */
  /* height: 20rem; */
  /* width:160px;
  height: 254px; */
  flex-basis: 15%;
  margin: 4px;
  border-radius: 6px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
  /* border: 2px solid lightgray; */
}

.imageContainer {
  /*   border-radius: 2px;
    margin: 10px;
    background-color: lightgray;*/
  max-width: 200px;
  width: 100%;
  max-height: 200px;
  overflow: hidden;
  min-height: 200px;
}

.cardTitle {
  /* font-weight: bold; */
  font-weight: 300;
  font-size: 13px;
  margin-bottom: 18px;
  font-family: 'Equip-Regular';
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.cardText {
  /* font-weight: bold; */
  font-weight: 300;
  font-size: 12px;
}

/* .NavImageContainer{
  /* position: relative;
  display: inline-block;
  min-height: 27px;
  min-width: 27px;
  border-radius: 50%;
  background-color: #E4E6EB;
  font-size: 1.275em; */
/* font-size: 11px;
    font-weight: bold;  */
/* color: #888; */
/* color: #3D3D3F;
    margin-left: 5px;
    font-family: Equip-Regular;
    justify-content: center;
    align-items: center; */
/* } */
.rectContainer {
  /* padding:16px; */
  background-color: #ffffff;
}

.sidenavbar .top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 50px;
  margin-top: 5px;
  /* border-bottom: 5px solid white; */
  border-radius: 10px;
}

.sidenavbar .top .logo {
  font-size: 16px;
  /* font-weight: bold; */
  /* color: black; */
  font-weight: bold;
  color: #3d3d3f;
  padding: 8px;
  /* margin-bottom:30px; */
  padding-left: 6px;
  font-family: Equip-Regular;
}

.sidenavbar hr {
  height: 0;
  border: 0.5px solid #e6e3e3;
}

.sidenavbar .center:hover {
  /* padding-left: 10px; */
  background-color: #f0f2f5;
}

.sidenavbar .center ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidenavbar .center ul .title {
  font-size: 17px;
  font-weight: bold;
  color: #999;
  margin-top: 15px;
  margin-bottom: 5px;
}

.sidenavbar .center ul li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  margin: 10px;
  /* background-color:whitesmoke; */
}

.sidenavbar .center ul button {
  width: 100%;
  border: none;
  background: none;
}

.sidenavbar .center ul li {
  border-radius: 8px;
}

.sidenavbar .center ul li:first-child {
  /* background-color: white; */
  border-radius: 8px;
  /* margin-left: -12px;
  margin-top: -8px; */
  width: 100%;
  margin-left: -3px;
}

.sidenavbar .center ul li .icon {
  font-size: 22px;
  color: black;
}

.sidenavbar .center ul li span {
  /* font-size: 1.275em; */
  font-size: 11px;
  font-weight: bold;
  /* color: #888; */
  color: #3d3d3f;
  margin-left: 8px;
  font-family: Equip-Regular;
}

.sidenavbar .bottom {
  display: flex;
  align-items: center;
  margin: 10px;
}

.sidenavbar .bottom .colorOption {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #7451f8;
  cursor: pointer;
  margin: 5px;
}

.sidenavbar .bottom .colorOption:nth-child(1) {
  background-color: whitesmoke;
}

.sidenavbar .bottom .colorOption:nth-child(2) {
  background-color: #333;
}

.sidenavbar .bottom .colorOption:nth-child(3) {
  background-color: darkblue;
}

.mainFullPageItemWrapper {
  overflow-y: auto;
  background-color: #f9f9f9;
}

.mainFullPageItemWrapper::-webkit-scrollbar {
  overflow-y: auto;
  width: 5px;
}

.mainFullPageItemWrapper::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: white;
  height: 1px;
}

.mainFullPageItemWrapper::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 2px;
}

.cardloaderDetails {
  display: flex;
  width: 100%;
}

.cardloaderDetails > span {
  width: calc(100% - 16px);
}
.cardloaderHeader {
  display: flex;
  width: 100%;
}
.cardloaderHeader > span {
  width: 100%;
}

.listHeaderLabel {
  /* padding-left: 20px;
  font-weight: bold;
  border-left: 5px solid lightgray;
  border-right: 5px solid lightgray;
  border-bottom: 5px solid lightgray;
  border-radius: 20px;
  height: 50px; */
  font-weight: bold;
  color: #3d3d3f;
  font-size: 16px;
  /* background-color:#F9F9F9; */
  margin-left: 10px;
  font-family: Equip-Regular;
  margin-top: 8px;
}
.listHover:hover {
  background-color: #242526 !important;
}

@media only screen and (max-width: 1000px) {
  .header {
    width: 99%;
  }
}

@media only screen and (max-width: 1500px) {
  .cardItem {
    /* width:auto;
    height: auto; */
    flex-basis: 18%;
    /* margin: 3px; */
    /* border-radius: 6px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25); */
    /* border: 2px solid lightgray; */
  }
}

@media only screen and (max-width: 1200px) {
  .cardItem {
    /* width:auto;
      height: auto; */
    flex-basis: 23%;
    margin: 4px;
    /* border-radius: 6px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25); */
    /* border: 2px solid lightgray; */
  }
}

@media only screen and (max-width: 900px) {
  .cardItem {
    /* width:auto;
      height: auto; */
    flex-basis: 30%;
    margin: 4px;
    /* border-radius: 6px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25); */
    /* border: 2px solid lightgray; */
  }
}

@media only screen and (max-width: 768px) {
  .cardItem {
    /* width:auto;
      height: auto; */
    flex-basis: 45%;
    margin: 4px;
    /* border-radius: 6px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25); */
    /* border: 2px solid lightgray; */
  }
}

@media only screen and (max-width: 480px) {
  .cardItem {
    /* width:auto;
      height: auto; */
    flex-basis: 15%;
    margin: 4px;
    border-radius: 6px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    /* border: 2px solid lightgray; */
  }

  .container {
    /* margin-top: 20px;
      display: flex;
      height: 80vh;
      font-family: 'sans-serif';
      justify-content: flex-start; */
    object-fit: cover;
    display: flex;
    flex-direction: column;
  }

  .newgrid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .sidenavbar {
    height: 42vh;
  }

  .right_column {
    margin-left: 0px;
  }

  .left_column {
    margin-left: 0px;
  }

  .sidenavbar {
    height: 38vh;
    margin-bottom: 15px;
  }

  .sidenavbar .top .logo {
    font-size: 16px;
    font-family: Equip-Regular;
    margin-left: 5px;
  }
}
