.parentContainerForProfile {
  display: flex;
  gap: 20px;
}

.rightContainerForProfile {
  width: 270px;
  height: calc(100% - 80px);
  padding: 20px;
}

.leftContainerForProfile {
  flex: 1;
  background: #f9f9f9;
  padding: 20px;
  height: calc(100% - 80px);
  overflow: auto;
}

.leftContainerForProfileHeadng {
  font-size: 20px;
  font-weight: 500;
  color: #283895;
  line-height: 1.2;
  margin-bottom: 20px;
}

.infoContainerForProfile {
  padding: 20px;
  position: relative;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  min-height: 1000px;
}

.editBtn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.btn.btn-primary.profileBtn {
  background: transparent;
  border: none;
  padding: 0;
  flex-basis: 20px;
}

.fieldListContainer {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}

.fieldListContainer:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.fieldHeader {
  flex-basis: 150px;
}

.fieldValue {
  flex: 1;
  margin-right: 20px;
  font-size: 14px;
}

.fieldValue p {
  margin: 0;
}

.infomationContainer {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eeeeee;
}

.infoTag {
  flex-basis: 120px;
  font-weight: 500;
  color: #283895;
  font-size: 14px;
}

.infoTagValue {
  flex: 1;
  font-size: 14px;
  margin-right: 20px;
}

.imageContainer {
  position: relative;
  text-align: center;
  max-width: 160px;
  height: 160px;
  margin: 0 auto;
}

.profilePic {
  display: inline-block;
  margin: auto;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #2a86fd;
}

.imageUpload {
  background: #dcebff;
  position: absolute;
  right: 15px;
  bottom: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fff;
}

.fileUpload {
  display: none;
}

.camera {
  display: inline-block;
  height: 12px;
  width: 12px;
}

.nameContainerForProfile {
  text-align: center;
  padding: 20px 0;
}

.nameContainer h3 {
  font-size: 16px;
  color: #283895;
  margin: 0;
}
.darkMode_greenColor h3 {
  color: #47d7ac;
}

.profrssionContainer span {
  font-size: 12px;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.personalDetails {
  font-size: 14px;
  padding: 10px;
  cursor: pointer;
  background: #f9f9f9;
  border-radius: 6px;
  color: #283895;
  font-weight: 500;
  transition: all 0.3s ease;
}

.personalDetailsActive {
  background-color: #283895;
  color: #ffffff;
}

.itemContainer {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.instituteFields {
  font-size: 12px;
}

.instituteName {
  font-size: 16px;
  font-weight: 500;
  color: #283895;
}

.itemEditBtn {
  position: absolute;
  top: 20px;
  right: 20px;
  outline: none;
  background: none;
  border: none;
  padding: 0;
}

.addNewItem {
  padding: 16px;
  text-align: right;
}

.addNewItem button {
  font-size: 12px;
  background: #4294ff;
  border-color: #4294ff;
}

.specificLanguage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}

.addLanguageBtn {
  border: 0;
  background: #4590ff;
  font-size: 12px;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  margin-top: 10px;
}

.cross {
  max-width: 32px;
  max-height: 32px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .parentContainerForProfile {
    flex-direction: column;
    min-height: 100vh;
  }

  .rightContainerForProfile {
    width: 100%;
    height: auto;
    padding: 20px;
    padding-bottom: 0;
  }

  .leftContainerForProfile {
    height: 100%;
  }
}
