@font-face {
  font-family: 'Equip-Regular';
  src: url('../assets/fonts/EquipExtended-Regular.eot');
  src: url('../assets/fonts/EquipExtended-Regular.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/EquipExtended-Regular.woff2') format('woff2'),
    url('../assets/fonts/EquipExtended-Regular.woff') format('woff'),
    url('../assets/fonts/EquipExtended-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Equip-Medium';
  src: url('../assets/fonts/EquipExtended-Medium.eot');
  src: url('../assets/fonts/EquipExtended-Medium.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/EquipExtended-Medium.woff2') format('woff2'),
    url('../assets/fonts/EquipExtended-Medium.woff') format('woff'),
    url('../assets/fonts/EquipExtended-Medium.ttf') format('truetype');
}

.container {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ced0d4;
  padding-bottom: 15px;
  margin-bottom: 10px;
  gap: 20px;
}
.imgContainer{
  width: 50%;
}
.imgContainer > img {
  width: 100%;
  height: 100%;
}
.contentContainer{
    display: flex;
    flex-direction: column;
}
.containerHeading {
  color: #091329;
  font-family: 'Equip-Regular';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
}
.containerTime{
  font-family: 'Equip-Regular';
  font-weight: 300;
  font-size: 14px;
  color: #82888F;
}
.containerDescription {
  color: #091329;
  font-family: 'Equip-Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
