.toastContainer {
  display: flex;
  justify-content: flex-start;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: black;
  height: max-content;
  min-height: 2.5rem;
  max-width: 20.5rem;
  z-index: 999998;
  animation: toast-slide-up 0.3s;
  will-change: transform;
  border-radius: 1.25rem;
}

.toastHeader {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  font-size: 16px;
  border-radius: 6px;
  position: relative;
  padding-right: 30px;
}

.success {
  color: #ffffff;
  background-color: #47d7ac;
  border-color: #47d7ac;
}

.error {
  color: #ffffff;
  background-color: #e4675f;
  border-color: #e4675f;
}

.toastHeader button {
  filter: invert(1);
  opacity: 1;
  margin-left: 0 !important;
  margin-top: 0;
  position: absolute;
  right: 10px;
  top: 5px;
}

.toastBody {
  font-weight: bold;
  font-size: 0.75rem;
}

.toastMessage {
  font-size: 12px;
  line-height: 16px;
}

.tickImage {}

.toastHeaderContent {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  font-size: 14px;
}

@media only screen and (max-width: 640px) {
  .toastContainer {
    min-height: 2.5rem;
    max-width: 9.375rem;
    border-radius: 0.75rem;
    bottom: 2rem;
    right: 2rem;
  }

  .toastHeader {
    margin-top: 0.625rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    font-size: 0.625rem;
    color: #fff;
  }

  .toastBody {
    font-weight: bold;
    font-size: 0.625rem;
    background-color: white;
    color: black;
  }
}
