.userProfileContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userProfileContainer img {
  cursor: pointer;
}
.logoutModalHeader {
  padding: 10px;
}
.logoutModalClose {
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 1;
  filter: invert(8%) sepia(48%) saturate(4526%) hue-rotate(222deg) brightness(86%) contrast(111%);
  font-size: 15px;
}
.logoutModalTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  font-size: 24px;
  color: #283895;
  margin: 0px auto;
}

.logoutModalBody {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
  font-size: 1.25rem;
  font-weight: 600;
}

.footerBtn {
  font-size: 1.25rem;
}
.footerBtnCancel {
  font-size: 16px;
  color: #F58C60;
}
.footerBtnCancel:hover, .footerBtnCancel:active, .footerBtnCancel:focus-visible {
  color: #F58C60 !important;
}
.footerBtnDefault {
  background-color: #47D7AC;
  border-color: #47D7AC;
  padding: 5px 10px;
  font-size: 16px;
}
.footerBtnDefault:hover, .footerBtnDefault:active, .footerBtnDefault:focus-visible {
  background-color: #ffffff !important;
  color: #47D7AC !important;
  border-color: #47D7AC !important;
}

.userProfileOverlayItem {
  display: flex;
  justify-content: flex-start;
  margin-right: 5px;
}

.userProfileBtn {
  background-color: white;
  color: black;
  border: none;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 20px;
}

.userProfileDropdownBtn {
  background-color: transparent !important;
  border:none;
  padding: 0;
  display: inline-block;
  position: relative;
}

.userProfileDropdownBtn::before {
  content: "";
  border: 1px solid #000;
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 15px;
  height: 15px;
  background-color: #fff;
  z-index: 1;
  border-radius: 50%;
}

.userProfileDropdownBtn::after {
  margin-left: 0;
  border-top: 4px solid #000;
  border-right: 4px solid transparent;
  border-bottom: 0;
  border-left: 4px solid transparent;
  position: absolute;
  bottom: 10%;
  right: 10%;
  z-index: 1;
}

.userProfileDropdownItem {
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 8px;
}

.userProfileDropdownItem:hover .userProfileBtn {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}

.userProfileDropdownItem:visited,
.userProfileDropdownItem:hover,
.userProfileDropdownItem:active {
  color: #fff;
  background-color: #5c636a;
  border-color: #565e64;
}

.userProfileDropdownItem:hover .userProfileDropdownImage {
  filter: invert(1);
}

.userProfileDropdownImage {
  margin-top: 10px;
  width: 20px;
  height: 10px;
}

@media only screen and (max-width: 640px) {
  .dropdownBtn {
    background-color: white;
    border: none;
    width: 20px !important;
  }

  .logoutModalContent {
    margin-left: 2.5rem;
    width: 18.75rem;
    height: 37.5rem;
    overflow-y: auto;
  }

  .userProfileDropdownItem {
    display: flex;
    justify-content: space-between;
    font-size: 0.625rem;
    border-radius: 0.1875rem;
    padding-top: 0.1875rem;
    padding-bottom: 0.3125rem;
  }

  .logoutModalTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1875rem;
    font-size: 1.0625rem;
  }

  .logoutModalBody {
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 0.1875rem;
    font-size: 0.625rem;
  }

  .footerBtn {
    font-size: 1.25rem;
  }

  .userProfileDropdownImage {
    width: 15px;
    height: 15px;
  }
}

@media only screen and (max-width: 640px) {
  .userProfileDropdownMenu {
      inset: 0 0 auto auto !important;
  }
}
