.container {
  display: flex;
  align-items: flex-start;
  font-family: 'Equip-Regular';
}

.left_column {
  padding: 16px;
  flex-basis: 20%;
  min-width: 250px;
}

.right_column {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  height: calc(98vh - 80px);
  background: #f7f8fa;
}

.top {
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
  color: #283895;
}

.sidenavbar .center ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  margin: 10px 0;
  font-size: 14px;
  color: #585858;
}

.sidenavbar .center ul button {
  background: none;
  display: flex;
  width: 100%;
  padding: 10px;
  border: 0;
  outline: 0;
  gap: 10px;
  align-items: center;
  border-radius: 6px;
}

.sidenavbar .center ul button:hover {
  background: #f2f2f2;
}

.right_lower_section {
  flex: 1;
  display: flex;
  overflow: auto;
  justify-content: center;
}

.right_lower_section::-webkit-scrollbar {
  overflow-y: auto;
  width: 5px;
}

.right_lower_section::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color: white;
  height: 1px;
}

.right_lower_section::-webkit-scrollbar-thumb {
  background-color: grey;
  border-radius: 2px;
}

.reportedPostContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.tableWrapper {
  width: 100%;
  padding: 20px 0;
}

.userListHeader {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 10px;
  color: #283895;
  padding: 0 10px;
}

.tableContainer {
  border-top: 1px solid #ced0d4;
  overflow: auto;
}

.tableHeader {
  display: flex;
  justify-content: space-between;
}

.tableBody {
  width: fit-content;
  min-width: 100%;
}

.tableField {
  flex-basis: 16%;
  min-width: 120px;
  padding: 10px;
  padding-right: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
  color: #091329;
  letter-spacing: 0.25px;
}

.nameColumn {
  padding-left: 30px;
  color: #82888f;
  min-width: 150px;
}

.genderColumn {
  flex-basis: 8%;
  color: #82888f;
}

.phoneNumberColumn {
  flex-basis: 12%;
  color: #82888f;
  min-width: 150px;
}

.emailColumn {
  flex-basis: 24%;
  color: #82888f;
  min-width: 250px;
}

.reasonsColumn {
  flex-basis: 20%;
  color: #82888f;
  min-width: 300px;
}

.actionButtonsContainer {
  display: flex;
  gap: 10px;
  min-width: 180px;
}

.reportedUserAccordion {
  transition: all 0.15s ease;
}

.reportedUserAccordion .tableField {
  font-weight: 400;
}

.reportedUserAccordion p {
  margin: 0;
}

.accordionHeader button {
  padding: 0px;
}

.accordionHeader button:not(.collapsed) {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.accordionItem {
  background-color: transparent;
  border-left: 0;
  border-right: 0;
}

.tableContentRow {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.accordionHeader button::after,
.accordionHeader button:not(.collapsed)::after {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  /* width: 100%;
  height: 100%;
  background-position: left center; */
}

.accordionHeader .tableContentRow .tableField .actionButton {
  font-size: 12px;
  background-color: #47d7ac;
  color: #ffffff;
  padding: 5px;
  border-radius: 4px;
  /* z-index: 1; */
}

.accordionBody {
  padding: 0 16px;
  background-color: #eaf2f4;
}

.accordionBodyHeader,
.accordionBodyItem {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  border-bottom: 1px solid #dee2e6;
}

.accordionBodyHeader span,
.accordionBodyItem span {
  font-size: 14px;
  line-height: 1.4;
  color: #091329;
  min-width: 120px;
  flex-basis: 20%;
}

.accordionBodyItem span {
  color: #82888f;
}

.accordionBodyHeader .accordionBodyName,
.accordionBodyItem .accordionBodyName {
  flex-basis: 15%;
}

.accordionBodyHeader .accordionBodyGender,
.accordionBodyItem .accordionBodyGender {
  flex-basis: 8%;
}

.accordionBodyHeader .accordionBodyEmail,
.accordionBodyItem .accordionBodyEmail {
  flex-basis: 25%;
}

.accordionBodyHeader .accordionBodyPhone,
.accordionBodyItem .accordionBodyPhone {
  flex-basis: 12%;
}

.accordionBodyHeader .accordionBodyReason,
.accordionBodyItem .accordionBodyReason {
  flex-basis: 35%;
}

/* Report Post */

.reportedPostsContainer {
  width: 100%;
  padding: 20px;
}

.reportedPostSkeletonContainer {
  width: 100%;
  padding: 20px;
}

.reportedPostSkeletonItemContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.reportPostTitle {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 500;
  margin-bottom: 10px;
  color: #283895;
  padding: 0;
}

.reportPostHeading {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.reportPostContainer {
  background: #fff;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
}

.postOwner {
  font-size: 14px;
  margin: 0;
  color: #4294ff;
}

.postCreateDate {
  margin: 0;
  font-size: 10px;
  color: #9e9e9e;
  display: flex;
  align-items: center;
}

.reportPostHeaderLeft {
  display: flex;
  gap: 10px;
}

.postUserImage {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.dropdownItem {
  padding: 10px;
}

.dropdownItem:after {
  content: '' !important;
}

.dropdownImage {
  width: 20px;
  height: 20px;
}

.reportContainerHeader {
  font-size: 12px;
}

.overlayItem {
  display: flex;
  gap: 10px;
}

.reportPostModalFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.footerContainer {
  display: flex;
  flex-direction: column;
}

.footerSecondRow,
.footerFirstRow {
  display: flex;
  gap: 10px;
}

.footerRowHeader {
  font-weight: 500;
  font-size: 14px;
  color: #000e46;
}
.footerRowContent {
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  color: #000e46;
}
.reportedDate {
  font-size: 12px;
  font-weight: 300;
  margin-left: 10px;
  color: #a5a5a5;
}

@media only screen and (max-width: 768px) {
  .dropdownMenu {
    inset: 0 0 auto auto !important;
  }

  .container {
    flex-direction: column;
    background-color: #f7f8fa;
    min-height: calc(100vh - 50px);
  }

  .tableWrapper {
    padding: 10px 0;
  }

  .left_column {
    flex-basis: 100%;
    min-width: 100%;
    background-color: #ffffff;
  }

  .right_column {
    width: 100%;
    max-width: 100vw;
  }

  .sidenavbar .center ul button {
    font-size: 12px;
  }

  .sidenavbar .center ul {
    flex-direction: row;
  }
}
