.container {
  margin-top: 20px;
  display: flex;
  height: 80vh;
  font-family: 'Nunito', sans-serif;
  justify-content: flex-start;
}

.left_column {
  flex: 0 0 20%;
  background-color: white;
  margin-left: 20px;
}

.right_column {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-left: 25px;
  height: 87vh;
  justify-content: flex-start;
  flex: 0 0 63%;
}

.right_upper_section {
  width: 73vw;
  flex: 0 0 2%;
  background-color: lightgray;
  border-radius: 10px;
  border: 2px solid #c9c6c6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.dashboardWrapper {
  width: 65vw;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

.right_lower_section {
  width: 70vw;
  flex: 0 0 85%;
}

.sidenavbar {
  flex: 1;
  border-radius: 10px;
  border: 2px solid #c9c6c6;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  height: 85vh;
  background-color: lightgray;
}

.datatable {
  width: 73vw;
  height: 73vh;
  padding: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}

.header {
  display: flex;
  flex-direction: row;
  font-weight: bold;
}

.item {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 20px;
  font-size: 25px;
  border: 1px solid black;
}

.title {
  font-size: 3em;
}

.userList {
  display: flex;
  flex: 0 0 50%;
  justify-content: flex-end;
  align-content: center;
  height: 100%;
}

.sidenavbar .top {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid white;
  border-radius: 10px;
}
.sidenavbar .top .logo {
  font-size: 25px;
  font-weight: bold;
  color: black;
}
.sidenavbar hr {
  height: 0;
  border: 0.5px solid #e6e3e3;
}
.sidenavbar .center {
  padding-left: 10px;
}
.sidenavbar .center ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidenavbar .center ul .title {
  font-size: 17px;
  font-weight: bold;
  color: #999;
  margin-top: 15px;
  margin-bottom: 5px;
}
.sidenavbar .center ul li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}
.sidenavbar .center ul button {
  width: 100%;
  border: none;
  background: none;
}
.sidenavbar .center ul li:hover {
  background-color: white;
}
.sidenavbar .center ul li .icon {
  font-size: 18px;
  color: black;
}
.sidenavbar .center ul li span {
  font-size: 13px;
  font-weight: 600;
  color: #888;
  margin-left: 10px;
}
.sidenavbar .bottom {
  display: flex;
  align-items: center;
  margin: 10px;
}
.sidenavbar .bottom .colorOption {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #7451f8;
  cursor: pointer;
  margin: 5px;
}
.sidenavbar .bottom .colorOption:nth-child(1) {
  background-color: whitesmoke;
}
.sidenavbar .bottom .colorOption:nth-child(2) {
  background-color: #333;
}
.sidenavbar .bottom .colorOption:nth-child(3) {
  background-color: darkblue;
}

.datatable .datatableTitle {
  width: 100%;
  font-size: 24px;
  color: gray;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.datatable .datatableTitle .link {
  text-decoration: none;
  color: green;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid green;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}
.datatable .cellWithImg {
  display: flex;
  align-items: center;
}
.datatable .cellWithImg .cellImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}
.datatable .cellWithStatus {
  padding: 5px;
  border-radius: 5px;
}
.datatable .cellWithStatus.active {
  background-color: rgba(0, 128, 0, 0.05);
  color: green;
}
.datatable .cellWithStatus.pending {
  background-color: rgba(255, 217, 0, 0.05);
  color: goldenrod;
}
.datatable .cellWithStatus.passive {
  background-color: rgba(255, 0, 0, 0.05);
  color: crimson;
}
.datatable .cellAction {
  display: flex;
  align-items: center;
  gap: 15px;
}
.datatable .cellAction .viewButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: darkblue;
  border: 1px dotted rgba(0, 0, 139, 0.596);
  cursor: pointer;
}
.datatable .cellAction .deleteButton {
  padding: 2px 5px;
  border-radius: 5px;
  color: crimson;
  border: 1px dotted rgba(220, 20, 60, 0.6);
  cursor: pointer;
}
